* {
    box-sizing: border-box;
    border-style: solid;
    border-color: red;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, footer {
    background-color: aliceblue;
    padding: 1%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    border-style: solid;
    border-color: cornflowerblue;
    border-radius: 1px;
    padding: 5px;
}

main {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 200%;
}

section {
    display: flex;
}

.label {
    font-weight: bold;
    margin: 1%;
    width: 15%;
}

.content {
    border-left: cornflowerblue;
    border-left-style: solid;
    margin: 0.5%;
}