* {
    box-sizing: border-box;
    /* border-style: solid; */
    /* border-color: red; */
}

html {
    height: 100%;
    background-color: rgb(255, 255, 255);
    min-width: 480px;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, footer {
    background-color: aliceblue;
    padding: 1%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    opacity: 0.9;
    z-index: 1;
}

footer {
    padding: 10px;
    color: aliceblue;
}

nav a {
    border-style: solid;
    border-color: cornflowerblue;
    border-radius: 1px;
    padding: 5px;
}

.banner {
    overflow: hidden;
    flex: 0 0 200px;
}

.banner img {
    width: 100%;
}

main {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.title {
    position: absolute;
    z-index: 1;
    top: 150px;
    left: 20px;
    font-size: 200%;
    color: lightyellow;
}

section {
    display: flex;
    width: 100%;
}

.label {
    font-weight: bold;
    margin: 1%;
    flex: 0 0 15%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    border-left: cornflowerblue;
    border-left-style: solid;
    margin: 1%;
    padding: 1%;
    width: calc(85% - 1%);
}

.card {
    margin: 5px;
    flex: 0 0 calc(50% - 10px);
    height: 200px;
    border: 5px solid aquamarine;
    overflow: hidden;
    position: relative;
}

.card img {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.text {
    color: white;
    font: bold;
    font-size: 200%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.card-main {
    flex: 0 0 calc(100% - 10px);
}

video {
    width: 100%;
}

.contactStyle {
    display: flex;
    justify-content: space-around;
}

#profile {
    width: 20%;
}

.card:hover .overlay {
    opacity: 0.5;
}

/* @media screen and (min-width: 768px) {
    main {
        flex-direction: row;
        flex-wrap: wrap;
    }

    section {
        width: 50%;
    }
} */